<footer class="site-footer">
  <div class="container">
    <div class="grid-col">
      <nav class="footer-nav">
        <a href="/" class="home">Home</a>
        <a href="/uses" class="uses">Uses</a>
        <a href="/referrals" class="referrals">Referrals</a>
        <a href="/colophon" class="colophon">Colophon</a>
    </div>
    <div class="grid-col">
      <h2 class="subtitle">Get in Touch</h2>
      <p>Give me a bell on any of the channels bellow <em>(even LinkedIn if you really have too...)</em> and I'll get back to you asap.</p>
      <nav class="social-nav">
        {%- for contact in contacts -%}
          <a href="{{contact.url | url}}" class="{{contact.name | downcase }}" {% if contact.target %}target="{{contact.target}}" rel="noopener"{% endif %}>
            <span class="sr-only">{{contact.name}}</span>
            <svg class="icon svg-{{contact.name | downcase }}-dims"><use xlink:href="#{{contact.name | downcase }}"></use></svg>
            {% if contact.target %}
              <span class="sr-only">{{contact.name}} - Opens in new Tab</span>
            {% endif %}
          </a>
        {%- endfor -%}
      </nav>
      <p class="details">Built using <a href="{{ 'https://www.11ty.dev/' | url }}" target="_blank" rel="noopener">11ty<span class="sr-only"> - Opens in new window</span></a>. Hosted on <a href="{{ 'https://www.netlify.com/' | url }}" target="_blank" rel="noopener">Netlify<span class="sr-only"> - Opens in new window</span></a>. DNS by <a href="{{ 'https://dnsimple.com/referrals?account_id=76379' | url }}" target="_blank" rel="noopener">DNSimple <span class="sr-only"> - Opens in new window</span></a>. Designed by <a href="http://patriciabernal.ca/" target="_blank" rel="noopener">Patricia Bernal<span class="sr-only"> - Opens in new window</span></a></p>
      <p class="copy">&copy; {{ 'now' | date: "%Y" }} Liam Richardson</p>
    </div>
  </div>
</footer>

<script src="/assets/app.js" async defer></script>