---
layout: layout-home.liquid
title: Discoliam | User Interface Developer
description: Discoliam is a User Interface Developer based in Bristol, UK. He is passionate about Front End Dev, Performance and A11y.
body-class: home
---

<section class="intro">
  <div class="container single-col">
    <div class="grid-col">
      <div class="img">
        <img src="/assets/photo.jpg" alt="Liam Richardson">
      </div>
      <h1>Discoliam</h1> <p class="lead">(Liam Edward Richardson to his parents) is a User Interface Developer 🤓 currently based in <s>Vancouver, BC 🇨🇦</s> Bristol, UK 🇬🇧. For 10 years he has built award-winning Websites, Applications, and Installations for clients around the globe 🌎.</p>
      <p class="lead two">He is passionate about <strong>Front End Dev</strong>, <strong>Performance</strong> and <strong>A11y</strong>.</p>
    </div>
  </div>
</section>

<section class="projects">
  <div class="container  single-col">
    <div class="grid-col">
      <h2>Potted History of Projects</h2>
      <ul>
        {%- for project in projects -%}
          <li>
            <span class="sr-only">{{ project }}</span>
            <svg class="icon svg-{{project | downcase | replace: ' ', '-' }}"><use xlink:href="#{{project | downcase | replace: ' ', '-' }}"></use></svg>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>

<section class="previous-clients">
  <div class="container  single-col">
    <div class="grid-col">
      <h2>Previous Clients</h2>
      <ul>
        {%- for client in clients -%}
          <li>
            <span class="sr-only">{{ client }}</span>
            <svg class="icon svg-{{client | downcase | replace: ' ', '-' }}"><use xlink:href="#{{client | downcase | replace: ' ', '-' }}"></use></svg>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>